* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

body {
    background: #097e38;
}

.main {
    background: #fff;
    min-width: 980px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    overflow: hidden;
}

.logo {
    float: left;
    margin: 8px 0 0 30px;
}

.slogan {
    float: left;
    margin: 40px 0 0 30px;
}

.head-contact {
    float: right;
    background: #f8fafb url(images/phone-img.jpg) 250px 8px no-repeat;
    border: 2px solid #edf2f6;
    border-radius: 0 0 10px 10px;
    text-align: right;
    margin: 0 6px 0 0;
    padding: 5px 65px 5px 15px;
}

.head-contact p {
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.3;
    margin: 0 0 3px 0;
}

.head-contact p strong {
    font-size: 14px;
    font-weight: bold;
}

.head-contact p span {
    font-size: 21px;
    font-weight: bold;
}

.search-head {
    float: right;
    list-style: none;
    background: url(images/bg-search.jpg) no-repeat left top;
    width: 305px;
    height: 29px;
    margin: 5px 6px 5px 0;
}

#quickquery {
    border: none;
    margin: 6px 30px 3px 10px;
    width: 210px;
    font-size: 12px;
}

.search-head li {
    float: left;
}

.search-btn {
    margin: 8px 0 0 0;
}

.menu {
    background: #97b632;
    display: table-row;
    list-style: none;
}

.menu li {
    display: table-cell;
    background: url(images/menu-bg-light.png) center top no-repeat;
    width: auto;
    text-align: center;
    height: 50px;
    border-left: 1px solid #097e38;
    border-right: 1px solid #acd038;
    vertical-align: bottom;
    
}

.menu li:hover {
    background: #d6f799 url(images/menu-bg-light.png) center top no-repeat;
    border-left: 1px solid #097e38;
    border-right: 1px solid #097e38;
}

.menu li:first-child {
    border-left: none;
}

.menu li:last-child {
    border-right: none;
}

.menu li a {
    display: block;
    width: 1000px;
    height: 50px;
    vertical-align: middle;
    display: table-cell;
    font: 14px Verdana, Geneva, sans-serif;
    color: #000;
    text-decoration: none;
}

#contentwrapper {
    float: left;
    width: 100%;
    color: #000;
}

#content {
    background: #d6f799;
    margin: 0 245px 0 240px;
}

#left-bar {
    margin-left: -100%;
    float: left;
    width: 240px;
}

.left-bar-cont {
    background: #97b632;
    margin: 6px 0 0 6px;
}

.left-bar-cont h2 {
    color: #fff;
    font: normal 18px Verdana, Geneva, sans-serif;
    background: rgb(14, 148, 195);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(14, 148, 195, 1) 0%, rgba(4, 88, 144, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color- stop(0%, rgba(14, 148, 195, 1)), color-stop(100%, rgba(4, 88, 144, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(14, 148, 195, 1) 0%, rgba(4, 88, 144, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(14, 148, 195, 1) 0%, rgba(4, 88, 144, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(14, 148, 195, 1) 0%, rgba(4, 88, 144, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(14, 148, 195, 1) 0%, rgba(4, 88, 144, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e94c3', endColorstr='#045890', GradientType=1);
    /* IE6-9 */
    border-radius: 4px 4px 0 0;

}

.left-bar-cont h2 span {
    display: block;
    background: url(images/glyanec.png) top repeat-x;
    padding: 5px 0 5px 10px;
}

.nav-new {
    padding: 10px 0 10px 55px;
    background: url(images/new-nav.jpg) left center no-repeat;
    border-bottom: 1px solid #e1e1e1;
}

.nav-lider {
    padding: 10px 0 10px 55px;
    background: url(images/lider-nav.jpg) left center no-repeat;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #fff;
}

.nav-sale {
    padding: 10px 0 10px 55px;
    background: url(images/sale-nav.jpg) left center no-repeat;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #fff;
}

.nav-new a:hover {
    text-decoration: underline;
    color: aliceblue
}

.nav-lider a:hover {
    text-decoration: underline;
}

.nav-sale a:hover {
    text-decoration: underline;
}

#right-bar {
    background: #fff;
    float: left;
    width: 245px;
    margin-left: -245px;
}

/* Katalog-line */
.kroshka {
    font: 14px Verdana, Geneva, sans-serif;
    color: #555555;
    margin: 15px 0 30px 15px;
}

.kroshka span {
    color: #2b8aba;
}

.kroshka a {
    color: #555;
}

.kroshka a:hover {
    text-decoration: none;
}

.vid-sort {
    font: 12px Verdana, Geneva, sans-serif;
    color: #888;
    background: #fafbfb;
    border-bottom: 1px solid #dee7ec;
    margin: 0 15px 30px 15px;
    padding: 10px 0 10px 2px;
}

.vid-sort img {
    margin: 0 2px;
    position: relative;
    top: 3px;
}

.vid-sort a {
    color: #888;
}

.vid-sort a:hover {
    text-decoration: none;
}

a.sort-top {
    background: url(images/sort-top.gif) left 6px no-repeat;
    padding: 0 0 0 12px;
}

a.sort-bot {
    background: url(images/sort-bot.gif) left 6px no-repeat;
    padding: 0 0 0 12px;
}

a.sort-top-act {
    background: url(images/sort-top-act.gif) left 6px no-repeat;
    padding: 0 0 0 12px;
    color: #000;
}

a.sort-bot-act {
    background: url(images/sort-bot-act.gif) left 6px no-repeat;
    padding: 0 0 0 12px;
    color: #000;
}

.product-line {
    overflow: hidden;
    margin: 0 15px 35px 15px;
}

.product-line-img {
    float: left;
}

.product-line-price {
    float: right;
}

.product-line-price p {
    font: 12px Verdana, Geneva, sans-serif;
    margin: 0 0 5px 0;
}

.product-line-price p span {
    font: 24px Candara;
    line-height: 0;
}

.product-line-price p a {
    color: #000;
}

.product-line-price p a:hover {
    text-decoration: none;
}

.product-line-price div {
    margin: 5px 0 0 0;
    height: 26px;
}

.product-line-price div img {
    margin: 0 3px;
}

.product-line-opis {
    font: 12px Verdana, Geneva, sans-serif;
    padding: 0 130px 0 60px;
}

.product-line-opis h2 {
    font: 12px Verdana, Geneva, sans-serif;
    color: #2b8aba;
    margin: 0 0 7px 0;
    line-height: 0.8;
}

.product-line-opis h2 a {
    color: #2b8aba;
}

.product-line-opis h2 a:hover {
    text-decoration: none;
}

.pager {
    background: #fafbfb;
    border-top: 1px solid #edf1f4;
    font: 15px Verdana, Geneva, sans-serif;
    color: #2b8ada;
    padding: 10px;
    margin: 15px;
}

.pager a {
    color: #888888;
    font-size: 14px;
    padding: 0 3px;
}

.pager a:hover {
    text-decoration: none;
    color: #2b8aba;
}

.pager img {
    position: relative;
    top: 5px;
}

.product-table {
    float: left;
    width: 33%;
    text-align: center;
    margin: 0 0 60px 0;
}

.product-table h2 {
    font: 12px Verdana, Geneva, sans-serif;
    color: #2b8aba;
    margin: 0 0 10px 0;
}

.product-table h2 a {
    color: #2b8aba;
}

.product-table h2 a:hover {
    text-decoration: none;
}

.product-table p {
    font: 12px Verdana, Geneva, sans-serif;
    margin: 0 0 10px;
}

.product-table p span {
    font: 24px Candara;
}

.cat-table-more a {
    color: #888;
}

.cat-table-more a:hover {
    text-decoration: none;
}

.product-table-img-main {
    position: relative;
}

.product-table-img {
    display: table-cell;
    height: 140px;
    position: relative;
    vertical-align: middle;
    width: 1%;
}

.product-table-img div {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 20px 0 0;
}

.product-table-img div img {
    display: block;
}

/* CONTENT-TXT */
.content-txt {
    overflow: hidden;
    font: 12px Verdana, Geneva, sans-serif;
    color: #000;
    margin: 0 15px;
}

.content-txt h1 {
    font-size: 24px;
    color: #2b8aba;
    font-weight: normal;
    margin: 0 0 15px 0;
}

.content-txt h2 {
    font-size: 20px;
    color: #000;
    font-weight: normal;
    margin: 20px 0 15px 0;
}

.content-txt h3 {
    font-size: 18px;
    color: #000;
    font-weight: normal;
    margin: 20px 0 15px 0;
}

.content-txt h4 {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin: 20px 0 15px 0;
}

.content-txt h5 {
    font-size: 12px;
    color: #000;
    font-weight: bold;
    margin: 20px 0 15px 0;
}

.content-txt h6 {
    font-size: 10px;
    color: #000;
    font-weight: bold;
    margin: 20px 0 15px 0;
}

.content-txt p {
    margin: 0 0 10px 0;
}

.content-txt a {
    color: #2b8aba;
}

.content-txt a:hover {
    text-decoration: none;
}

.content-txt ul {
    list-style: disc;
    margin: 20px 0 15px 30px;
}

.content-txt ul li {
    line-height: 1.7;
}

/* CATALOG DETEIL */
.catalog-deteil {
    overflow: hidden;
    font: 12px Verdana, Geneva, sans-serif;
    color: #000;
    margin: 0 15px;
}

.catalog-deteil h1 {
    font: 24px Verdana;
    color: #2b8aba;
    margin: 0 0 20px 0;
    text-align: center;
}

.slider-for {
    width: 715px;
    padding: 0;
    height: 650px;
}

.slider-for .image-center {
    display: block;
    height: 650px;
    margin: 0px auto;
    padding: 0px auto;
}

.slider-for .slick-prev:before {
    font-family: 'slick';
    font-size: 25px;
    line-height: 1;
}

.slider-for .slick-next:before {
    font-family: 'slick';
    font-size: 25px;
    line-height: 1;
}

.slider-nav {
    width: 450px;
    height: 65px;
    padding-top: 20px;
    margin-left: 130px;
}

.slider-nav img {
    padding: 3px;
    height: 100%;
    background: #ddd;
    border-radius: 3px;
    margin: 0px auto;
}

.slider-nav img:hover {
    padding: 3px;
    background: #2b8aba;
    opacity: .75;
    margin: 0px auto;
}

.slider-nav .slick-current img {
    padding: 3px;
    background: #2b8aba;
    opacity: .7;
}

.slider-nav .slick-next {
    right: -35px;
    top: 70%;
    z-index: 1;
}

.slider-nav .slick-prev {
    left: -35px;
    top: 70%;
    z-index: 1;
}


.icon-detail {
    margin: 0 0 0 240px;
}

.price-detail {
    font: 18px Verdana;
    margin: 0 0 10px 230px;
}

.price-detail span {
    font-size: 30px !important;
    font-family: Candara;
}

.short-opais {
    margin: 0 0 40px 10px;
    font-family: Verdana;
}

.price_item_description h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.price_item_description p {
    font-size: 14px;
    margin: 10px 20px 10px 10px;
    text-align: justify;
    text-indent: 20px;
}

.price-detail span {
    float: center;
    font: 26px Candara !important;
}

.short-opais a {
    margin: 0 0 40px 230px;
}

.tech-harakt {
    margin: 30px 0 20px 20px;
    font-family: Verdana;
}

.price_item_description h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.table-part {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 0 20px;
}

.dots span {
    font-size: 12px;
    font-weight: normal;
    padding: 0;
}

.tech-harakt td {
    font-size: 12px;
    font-weight: normal;
    padding: 0 20px;
}

/* ZAKAZ */
#content-zakaz {
    width: 98%;
    margin: 0 auto;
}

#content-zakaz h2 {
    text-align: center;
    font: normal 24px Verdana;
    margin: 20px 0 10px 0;
}

.zakaz-maiin-table {
    width: 100%;
    margin: 0 0 30px 0;
}

.zakaz-maiin-table td {
    padding: 10px;
}

.z_top {
    background: #fafbfb;
    border-bottom: 1px solid #dee7ec;
    font: bold 12px Verdana;
    color: #555;
}

.z_name {}

.z_name img {
    float: left;
    margin: 0 10px 0 0;
}

.z_name a {
    font: 12px Verdana;
    color: #2b8aba;
}

.z_name a:hover {
    text-decoration: none;
}

.z_kol {
    text-align: center;
    width: 75px;
}

.z_price {
    text-align: center;
    width: 80px;
    font: 24px Candara;
}

.z_del {
    text-align: center;
    width: 65px;
}

.kolvo {
    width: 48px;
    height: 22px;
    font: 16px Verdana;
    color: #000;
    background: #fafafa;
    border: 1px solid #b5b5b5;
    text-align: center;
}

.sposob-dostavki {
    margin: 0 0 30px 0;
}

.sposob-dostavki p {
    font-size: 12px;
    font-family: Verdana;
    margin: 7px;
}

#content-zakaz h4 {
    font: bold 14px Verdana;
}

#content-zakaz h3 {
    font: normal 18px Verdana;
}

.zakaz-data {
    width: 100%;
    background: #fafafa;
    margin: 10px 0 40px 0;
}

.zakaz-data td {
    vertical-align: middle;
    padding: 10px 10px 0 10px;
}

.zakaz-txt {
    font: 14px Verdana;
    color: #555555;
}

.zakaz-prim {
    font: 12px Verdana;
    color: #c0c0c0;
    font-style: italic;
}

.zakaz-inpt {}

.zakaz-inpt input {
    width: 330px;
    height: 28px;
    border: 1px solid #ccc;
}

.zakaz-txtarea {
    padding: 10px 10px 20px 10px !important;
}

.zakaz-txtarea textarea {
    width: 330px;
    height: 100px;
    border: 1px solid #ccc;
}

.Kop3uHA{
    float: center;
    align-items: center;
    justify-content: center;
}